<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Social Empires</title>
        <link rel="shortcut icon" href="img/icon.png"/>
	    <link rel="icon" type="image/png" href="img/icon.png"/>
    </head>
    <body>
    <center>
        <h2>Social Empires</h2>
        <object>
            <embed
                src="http://127.0.0.1:5050/default01.static.socialpointgames.com/static/socialempires/flash/SELoader.swf?swftoload=http://127.0.0.1:5050/default01.static.socialpointgames.com/static/socialempires/flash/SocialEmpires0910csec.swf" 
                allowFullScreen="true" quality=high WIDTH="760" HEIGHT="600" NAME="se" ALIGN=""
                TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"
                flashvars='spdebug=notnull
                &staticUrl=http://127.0.0.1:5050/default01.static.socialpointgames.com/static/socialempires/&brk=0
                &dynamicUrl=http://127.0.0.1:5050/dynamic.flash1.dev.socialpoint.es/appsfb/socialempiresdev/srvempires/&brk=0
                &skiphash12341=notnull
                &sex=m
                &lastLoggedIn=1234
                &dailyBonus=0
                &friendsInfo[{"first_name":"AcidCaos","uid":"100000","pic_square":"http://127.0.0.1:5050/img/profile/x.jpg"}}]
                &forceSyncError=1
                &forceAttackReload=1
                &forceQuestReload=1
                &user_key=123456789'>
            </embed>
        </object>
    </center>
    </body>
</html>